@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body{
    height: 100;
    background-color: #F0E8F9;
    display: grid;
    place-content: center;
}
.white{
    color: #fff;
}
.search{
    background-color:#FB7A6B;
    padding: 0px 40px;
    padding-top: 80px;
    padding-bottom: 50px;
}
.cro{
    background-color: tomato;
    padding: 0px 40px;
    padding-top: 80px;
    padding-bottom: 50px;
}
.socials{
    background-color:#F7BF68;
    padding: 0px 40px;
    padding-top: 80px;
    padding-bottom: 50px;
}
.service{
    background-color: hsl(39, 100%, 70%);
    padding: 0 40px;
    padding-top: 30px;
    padding-bottom: 90px;
    
}
.book{
    background-color:#4C545C;
    grid-column: 2/4;
    padding: 0 40px;
    padding-top: 30px;
}
.head{
    display: flex;
}
.head i{
    margin-right: 7px;
    font-size: 14px;
}
.container{
    display: grid;
    width: 1000px;
    /* min-width: 900px; */
    grid-template-columns: repeat(3, 1fr);
    border-radius: 20px;
    /* overflow: hidden; */
}
ul li{
    list-style: none;
    margin-bottom: 10px;
}
ul{
    margin-top: 10px;
}
a{
    text-decoration: none;
    background-color: #fff;
    color: #4C545C;
    display: inline-block;
    padding: 10px;
    margin-top: 20px;
}
.book h5{
    margin-bottom: 10px;
    line-height: 20px;
}
@media (max-width:768px){
       .container{
        display: flex;
        flex-direction: column;
        width: 100%;
        /* height: 900px; */
       }
   
}

